In [1]:
import os
import pandas as pd
import numpy as np

## 1. 데이터 불러오기 및 전처리

In [2]:
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [3]:
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [5]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [6]:
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [7]:
ratings = pd.merge(ratings, movies)
ratings = ratings[["user_id", "movie_id", "title", "counts"]]
ratings.sort_values('user_id')

        user_id  movie_id                                   title  counts
0             1      1193  One Flew Over the Cuckoo's Nest (1975)       5
31113         1      2294                             Antz (1998)       4
31674         1      3186                Girl, Interrupted (1999)       4
32044         1      1566                         Hercules (1997)       4
32415         1       588                          Aladdin (1992)       4
...         ...       ...                                     ...     ...
657728     6040       334             Vanya on 42nd Street (1994)       4
393446     6040      1294                          M*A*S*H (1970)       4
253075     6040       994                        Big Night (1996)       3
127665     6040      2396              Shakespeare in Love (1998)       3
738957     6040      2725                 Twin Falls Idaho (1999)       4

[836478 rows x 4 columns]

## 2. 분석

In [8]:
print('ratings에 있는 유니크한 영화 개수 : {}'.format(ratings['movie_id'].nunique()))
print('ratings에 있는 유니크한 사용자 수 : {}'.format(ratings['user_id'].nunique()))

ratings에 있는 유니크한 영화 개수 : 3628
ratings에 있는 유니크한 사용자 수 : 6039

In [9]:
movie_count = ratings.groupby('title')['user_id'].count()
movie_count.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

## 3. 선호하는 영화

In [10]:
my_movie_genre = movies.loc[movies['genre'].str.contains('Romance')].copy()
my_movie_genre['title'].unique()

array(['Grumpier Old Men (1995)', 'Sabrina (1995)',
       'American President, The (1995)', 'Cutthroat Island (1995)',
       'Sense and Sensibility (1995)', 'Leaving Las Vegas (1995)',
       'Persuasion (1995)', 'Wings of Courage (1995)',
       'Carrington (1995)', 'Clueless (1995)',
       'How to Make an American Quilt (1995)', 'Pocahontas (1995)',
       'When Night Is Falling (1995)', 'Postino, Il (The Postman) (1994)',
       'Two if by Sea (1996)', 'French Twist (Gazon maudit) (1995)',
       'Bed of Roses (1996)',
       "Things to Do in Denver when You're Dead (1995)",
       'Angels and Insects (1995)', 'Vampire in Brooklyn (1995)',
       'Bridges of Madison County, The (1995)', 'If Lucy Fell (1996)',
       'Boomerang (1992)', 'Chungking Express (1994)',
       'Pie in the Sky (1995)', 'Frankie Starlight (1995)',
       'Up Close and Personal (1996)', 'Rob Roy (1995)',
       'Desperado (1995)', 'First Knight (1995)', 'Mad Love (1995)',
       'Moonlight and Valentino (1995)', 'Something to Talk About (1995)',
       'Total Eclipse (1995)', 'Walk in the Clouds, A (1995)',
       'Before Sunrise (1995)', 'Circle of Friends (1995)',
       'Don Juan DeMarco (1995)', 'French Kiss (1995)',
       'Forget Paris (1995)', 'Goofy Movie, A (1995)',
       'Heavenly Creatures (1994)', 'Immortal Beloved (1994)',
       'I.Q. (1994)', "Kid in King Arthur's Court, A (1995)",
       'Like Water for Chocolate (Como agua para chocolate) (1992)',
       'Legends of the Fall (1994)', 'Love Affair (1994)',
       'Milk Money (1994)', 'Nina Takes a Lover (1994)',
       'Only You (1994)',
       'Professional, The (a.k.a. Leon: The Professional) (1994)',
       'Perez Family, The (1995)', "Pyromaniac's Love Story, A (1995)",
       'Picture Bride (1995)', 'Queen Margot (La Reine Margot) (1994)',
       'While You Were Sleeping (1995)', "Muriel's Wedding (1994)",
       'Corrina, Corrina (1994)', 'Crow, The (1994)',
       'Forrest Gump (1994)', 'Four Weddings and a Funeral (1994)',
       'I Like It Like That (1994)', 'It Could Happen to You (1994)',
       'Jungle Book, The (1994)', 'Speed (1994)', 'Speechless (1994)',
       'True Lies (1994)', 'Colonel Chabert, Le (1994)',
       'Barcelona (1994)', 'Blue Sky (1994)', 'Boxing Helena (1993)',
       'Dave (1993)', 'Even Cowgirls Get the Blues (1993)',
       'Farewell My Concubine (1993)', 'Favor, The (1994)',
       'Flesh and Bone (1993)', 'Go Fish (1994)',
       'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)',
       'House of the Spirits, The (1993)', 'Hudsucker Proxy, The (1994)',
       'What Happened Was... (1994)', 'Much Ado About Nothing (1993)',
       'Mr. Jones (1993)', 'Mr. Wonderful (1993)', 'Piano, The (1993)',
       'Radioland Murders (1994)', 'Shadowlands (1993)',
       'Sleepless in Seattle (1993)',
       'So I Married an Axe Murderer (1993)', 'Threesome (1994)',
       'True Romance (1993)', 'Naked in New York (1994)', 'Ghost (1990)',
       'Pretty Woman (1990)', 'One Fine Day (1996)', 'Jane Eyre (1996)',
       'Two Much (1996)', 'Modern Affair, A (1995)',
       'Carried Away (1996)', 'Jack and Sarah (1995)',
       'Und keiner weint mir nach (1996)', 'Country Life (1994)',
       'Promise, The (Versprechen, Das) (1994)',
       'Mrs. Winterbourne (1996)', 'Feeling Minnesota (1996)',
       'Truth About Cats & Dogs, The (1996)', 'Twister (1996)',
       'Vermont Is For Lovers (1992)', 'Heavy (1995)',
       "'Til There Was You (1997)", 'Nutty Professor, The (1996)',
       'Phenomenon (1996)', 'Walking and Talking (1996)',
       "She's the One (1996)",
       'Rendezvous in Paris (Rendez-vous de Paris, Les) (1995)',
       'Crude Oasis, The (1995)', 'Echte Kerle (1996)', 'Emma (1996)',
       'Tin Cup (1996)', 'Bound (1996)', '1-900 (1994)',
       'Twelfth Night (1996)', 'Liebelei (1933)',
       'Philadelphia Story, The (1940)', "Singin' in the Rain (1952)",
       'American in Paris, An (1951)', "Breakfast at Tiffany's (1961)",
       'Gay Divorcee, The (1934)', 'Charade (1963)', 'Casablanca (1942)',
       'My Fair Lady (1964)', 'Sabrina (1954)', 'Roman Holiday (1953)',
       'Gone with the Wind (1939)', 'Golden Earrings (1947)',
       'Rebecca (1940)', 'Notorious (1946)', 'Spellbound (1945)',
       'Affair to Remember, An (1957)', 'To Catch a Thief (1955)',
       'Ninotchka (1939)', 'Love in the Afternoon (1957)',
       'Ghost and Mrs. Muir, The (1947)', 'Top Hat (1935)',
       'Penny Serenade (1941)', 'African Queen, The (1951)',
       'Algiers (1938)', 'Farewell to Arms, A (1932)',
       'Madagascar Skin (1995)', 'Bliss (1997)',
       'To Gillian on Her 37th Birthday (1996)', 'Beautiful Thing (1996)',
       'Everyone Says I Love You (1996)',
       "William Shakespeare's Romeo and Juliet (1996)",
       'Shall We Dance? (1937)', 'Damsel in Distress, A (1937)',
       'For the Moment (1994)', 'Dirty Dancing (1987)',
       'Crying Game, The (1992)', 'Days of Thunder (1990)',
       'Top Gun (1986)', 'Hustler White (1996)', 'Love in Bloom (1935)',
       'Cinema Paradiso (1988)', 'English Patient, The (1996)',
       'Strictly Ballroom (1992)', 'Princess Bride, The (1987)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Wings of Desire (Der Himmel über Berlin) (1987)',
       'Big Blue, The (Le Grand Bleu) (1988)', 'Quiet Man, The (1952)',
       'Annie Hall (1977)', 'Manhattan (1979)', 'Graduate, The (1967)',
       'Diva (1981)', 'Groundhog Day (1993)', 'Cyrano de Bergerac (1990)',
       'Somewhere in Time (1980)', 'Some Kind of Wonderful (1987)',
       'Room with a View, A (1986)', 'When Harry Met Sally... (1989)',
       'Parallel Sons (1995)', 'Breathing Room (1996)',
       "Bram Stoker's Dracula (1992)", 'Mirror Has Two Faces, The (1996)',
       'Shine (1996)', 'Grease (1978)', 'Grease 2 (1982)',
       'Jerry Maguire (1996)', 'In Love and War (1996)',
       'Last of the Mohicans, The (1992)', 'Michael (1996)',
       'Thieves (Voleurs, Les) (1996)', 'Benny & Joon (1993)',
       'Beautician and the Beast, The (1997)', 'Hotel de Love (1996)',
       'Fools Rush In (1997)', 'Touch (1997)', 'That Old Feeling (1997)',
       'Booty Call (1997)', 'Kama Sutra: A Tale of Love (1996)',
       'Love Jones (1997)', 'Saint, The (1997)',
       'Love and Other Catastrophes (1996)', 'Anna Karenina (1997)',
       'Inventing the Abbotts (1997)', 'Kissed (1996)',
       'Temptress Moon (Feng Yue) (1996)', 'Commandments (1997)',
       'Truth or Consequences, N.M. (1997)',
       'Love! Valour! Compassion! (1997)', 'Addicted to Love (1997)',
       'Brassed Off (1996)', 'Rough Magic (1995)',
       'Trial and Error (1997)', 'Pillow Book, The (1995)',
       'Speed 2: Cruise Control (1997)',
       "Roseanna's Grave (For Roseanna) (1997)",
       "My Best Friend's Wedding (1997)",
       'When the Cats Away (Chacun cherche son chat) (1996)',
       'Fall (1997)', 'Picture Perfect (1997)',
       'Conspiracy Theory (1997)', "She's So Lovely (1997)",
       'Excess Baggage (1997)', 'MatchMaker, The (1997)',
       'Smile Like Yours, A (1997)', 'Chasing Amy (1997)',
       'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)',
       'Swept from the Sea (1997)', 'Life Less Ordinary, A (1997)',
       'Hugo Pool (1997)', 'Tango Lesson, The (1997)', 'Witness (1985)',
       'Sliding Doors (1998)', 'Wings of the Dove, The (1997)',
       'Mrs. Dalloway (1997)', 'I Love You, I Love You Not (1996)',
       'Never Met Picasso (1996)', 'Titanic (1997)',
       'Tomorrow Never Dies (1997)', 'Afterglow (1997)',
       'Great Expectations (1998)', 'Leading Man, The (1996)',
       'Shooting Fish (1997)', 'Music From Another Room (1998)',
       'B. Monkey (1998)', 'Wedding Singer, The (1998)',
       'Little City (1998)', 'Man in the Iron Mask, The (1998)',
       'No Looking Back (1998)', 'Object of My Affection, The (1998)',
       'Chinese Box (1997)', 'City of Angels (1998)',
       "I Love You, Don't Touch Me! (1998)",
       'Leather Jacket Love Story (1997)', 'Kissing a Fool (1998)',
       'Still Breathing (1997)', 'Woo (1998)', 'Hope Floats (1998)',
       'Six Days Seven Nights (1998)', "Can't Hardly Wait (1998)",
       'High Art (1998)', 'Dream for an Insomniac (1996)',
       'Mr. Jealousy (1997)', 'Out of Sight (1998)', 'Wings (1927)',
       'From Here to Eternity (1953)', 'Marty (1955)',
       'West Side Story (1961)', 'Out of Africa (1985)',
       'Mask of Zorro, The (1998)', 'Dangerous Liaisons (1988)',
       'Lolita (1997)', "Billy's Hollywood Screen Kiss (1997)",
       'Far Off Place, A (1993)', 'Governess, The (1998)',
       'Seventh Heaven (Le Septième ciel) (1997)',
       'Purple Rose of Cairo, The (1985)', 'Doctor Zhivago (1965)',
       'Lady and the Tramp (1955)', 'Little Mermaid, The (1989)',
       'Splash (1984)', 'L.A. Story (1991)',
       'Ever After: A Cinderella Story (1998)',
       'First Love, Last Rites (1997)', 'Atlantic City (1980)',
       'Legend (1985)', 'Pretty in Pink (1986)', "St. Elmo's Fire (1985)",
       'How Stella Got Her Groove Back (1998)',
       'Chambermaid on the Titanic, The (1998)',
       'Return to Paradise (1998)', 'Dance with Me (1998)',
       'Next Stop, Wonderland (1998)', 'Déjà Vu (1997)',
       'Lady Vanishes, The (1938)', 'Rich and Strange (1932)',
       'Broadcast News (1987)', 'Allnighter, The (1987)',
       'Say Anything... (1989)', 'No Small Affair (1984)',
       'Blame It on Rio (1984)', 'About Last Night... (1986)',
       "Butcher's Wife, The (1991)", 'Edward Scissorhands (1990)',
       'Overnight Delivery (1996)', 'What Dreams May Come (1998)',
       'Practical Magic (1998)', 'Living Out Loud (1998)',
       "I'll Be Home For Christmas (1998)", 'Meet Joe Black (1998)',
       'Desperately Seeking Susan (1985)', 'Home Fries (1998)',
       'Steam: The Turkish Bath (Hamam) (1997)',
       'Shakespeare in Love (1998)', 'Jewel of the Nile, The (1985)',
       'Romancing the Stone (1984)', 'Violets Are Blue... (1986)',
       "You've Got Mail (1998)", 'Theory of Flight, The (1998)',
       'Playing by Heart (1998)', "Jumpin' Jack Flash (1986)",
       'Peggy Sue Got Married (1986)', 'My Name Is Joe (1998)',
       'Still Crazy (1998)', "She's All That (1999)",
       'Simply Irresistible (1999)', 'Blast from the Past (1999)',
       'Message in a Bottle (1999)', 'Office Space (1999)',
       'Other Sister, The (1999)', 'Just the Ticket (1999)',
       'Telling You (1998)', 'Forces of Nature (1999)',
       'Among Giants (1998)', 'Walk on the Moon, A (1999)',
       '10 Things I Hate About You (1999)', 'Never Been Kissed (1999)',
       'Lovers of the Arctic Circle, The (Los Amantes del Círculo Polar) (1998)',
       'Friends & Lovers (1999)',
       'Jeanne and the Perfect Guy (Jeanne et le garçon formidable) (1998)',
       'Open Your Eyes (Abre los ojos) (1997)', 'Lost & Found (1999)',
       'This Is My Father (1998)',
       'Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)',
       'Edge of Seventeen (1998)', 'Love Letter, The (1999)',
       'Mummy, The (1932)', 'Notting Hill (1999)',
       'Twice Upon a Yesterday (1998)', 'Finding North (1999)',
       'Free Enterprise (1998)', 'Run Lola Run (Lola rennt) (1998)',
       'My Son the Fanatic (1998)',
       'Lovers on the Bridge, The (Les Amants du Pont-Neuf) (1991)',
       "Autumn Tale, An (Conte d'automne) (1998)",
       'Velocity of Gary, The (1998)', 'Trick (1999)',
       'Runaway Bride (1999)', 'Better Than Chocolate (1999)',
       'Oscar and Lucinda (a.k.a. Oscar & Lucinda) (1997)',
       'Tequila Sunrise (1988)', 'Mickey Blue Eyes (1999)',
       'Medicine Man (1992)', 'Lucie Aubrac (1997)',
       'Very Thought of You, The (1998)', 'Bedrooms & Hallways (1998)',
       'Black Cat, White Cat (Crna macka, beli macor) (1998)',
       'Excalibur (1981)', 'Lulu on the Bridge (1998)',
       'Sommersby (1993)', 'Dog Park (1998)', 'Guinevere (1999)',
       'Drive Me Crazy (1999)', 'Romance (1999)', 'Random Hearts (1999)',
       "Ennui, L' (1998)", 'Year of Living Dangerously (1982)',
       'Children of Paradise (Les enfants du paradis) (1945)',
       'Brief Encounter (1946)', 'Lady Eve, The (1941)',
       'South Pacific (1958)', 'Flashdance (1983)', 'Indochine (1992)',
       'Blue Lagoon, The (1980)', 'Fever Pitch (1997)',
       'Man and a Woman, A (Un Homme et une Femme) (1966)',
       'Three to Tango (1999)', 'Dreaming of Joseph Lees (1998)',
       'Bachelor, The (1999)', 'My Best Girl (1927)', 'Dead Again (1991)',
       'Incredibly True Adventure of Two Girls in Love, The (1995)',
       'Sandpiper, The (1965)', 'Sleepy Hollow (1999)', 'Maurice (1987)',
       'Shop Around the Corner, The (1940)', 'Shampoo (1975)',
       'Stanley & Iris (1990)', 'Come See the Paradise (1990)',
       'Fisher King, The (1991)', 'Ride with the Devil (1999)',
       'Santa Fe Trail (1940)', 'Glass Bottom Boat, The (1966)',
       'Anna and the King (1999)', 'Pal Joey (1957)',
       'Against All Odds (1984)', 'Down to You (2000)',
       'Goodbye Girl, The (1977)', 'Bodyguard, The (1992)',
       'Far and Away (1992)', 'Singles (1992)', 'Forever Young (1992)',
       'They Might Be Giants (1971)', 'City Lights (1931)',
       'Mifune (Mifunes sidste sang) (1999)',
       'And God Created Woman (1988)', 'Closer You Get, The (2000)',
       'East-West (Est-ouest) (1999)', 'Defending Your Life (1991)',
       'Big Country, The (1958)',
       'Fantastic Night, The (La Nuit Fantastique) (1949)',
       'Blind Date (1987)', 'Love Is a Many-Splendored Thing (1955)',
       "She's Gotta Have It (1986)", 'Jungle Fever (1991)',
       'Dying Young (1991)', 'Romeo Must Die (2000)',
       'Here on Earth (2000)', 'Whatever It Takes (2000)',
       'Blood and Sand (Sangre y Arena) (1989)',
       'Place in the Sun, A (1951)', 'Ladyhawke (1985)',
       "Murphy's Romance (1985)", 'Return to Me (2000)',
       'Bell, Book and Candle (1958)', 'Arthur (1981)',
       'Prince of Tides, The (1991)',
       'All the Vermeers in New York (1990)', 'Keeping the Faith (2000)',
       'Passion of Mind (1999)', 'Love and Basketball (2000)',
       'Breathless (1983)', 'Slipper and the Rose, The (1976)',
       'Honeymoon in Vegas (1992)', 'Loser (2000)', 'Moonraker (1979)',
       'Romeo and Juliet (1968)', 'Fabulous Baker Boys, The (1989)',
       "Prizzi's Honor (1985)", 'Starman (1984)', 'Bird on a Wire (1990)',
       "Love's Labour's Lost (2000)", 'Trouble in Paradise (1932)',
       'Boys and Girls (2000)', 'Match, The (1999)',
       'Hot Spot, The (1990)',
       'Wisdom of Crocodiles, The (a.k.a. Immortality) (2000)',
       'Criminal Lovers (Les Amants Criminels) (1999)',
       'Girl on the Bridge, The (La Fille sur le Pont) (1999)',
       'Autumn in New York (2000)', 'Mad About Mambo (2000)',
       'Bronco Billy (1980)', 'Aimée & Jaguar (1999)',
       'Affair of Love, An (Une Liaison Pornographique) (1999)',
       'Couch in New York, A (1996)', 'Love & Sex (2000)',
       'Skipped Parts (2000)', 'Woman on Top (2000)'], dtype=object)

In [11]:
my_movie_title = ['Here on Earth (2000)',
                'Place in the Sun, A (1951)',
                'Couch in New York, A (1996)',
                'Love & Sex (2000)',
                'Breathless (1983)']
my_movies = pd.DataFrame({'user_id': ['6039']*5, 'title': my_movie_title, 
                        'movie_id': movies[movies['title'].isin(my_movie_title)]['movie_id'], 'counts':[5]*5})
my_movies

     user_id                        title  movie_id  counts
3384    6039         Here on Earth (2000)      3453       5
3406    6039   Place in the Sun, A (1951)      3475       5
3515    6039  Couch in New York, A (1996)      3584       5
3804    6039            Love & Sex (2000)      3874       5
3815    6039            Breathless (1983)      3885       5

In [14]:
if not ratings.isin({'user_id':['6039']})['user_id'].any():
    ratings = ratings.append(my_movies, ignore_index=True)

ratings.tail(10)

,user_id,movie_id,title,counts
836473,5851,3607,One Little Indian (1973),5
836474,5854,3026,Slaughterhouse (1987),4
836475,5854,690,"Promise, The (Versprechen, Das) (1994)",3
836476,5938,2909,"Five Wives, Three Secretaries and Me (1998)",4
836477,5948,1360,Identification of a Woman (Identificazione di ...,5
836478,6039,3453,Here on Earth (2000),5
836479,6039,3475,"Place in the Sun, A (1951)",5
836480,6039,3584,"Couch in New York, A (1996)",5
836481,6039,3874,Love & Sex (2000),5
836482,6039,3885,Breathless (1983),5

In [15]:
user_unique = ratings['user_id'].unique()
movie_unique = ratings['title'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [16]:
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data
else:
    print('user_id column indexing Fail!!')

temp_movie_data = ratings['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('movie_id column indexing OK!!')
    ratings['movie_id'] = temp_movie_data
else:
    print('movie_id column indexing Fail!!')

ratings

user_id column indexing OK!!
movie_id column indexing OK!!

        user_id  movie_id                                   title  counts
0             0         0  One Flew Over the Cuckoo's Nest (1975)       5
1             1         0  One Flew Over the Cuckoo's Nest (1975)       5
2             2         0  One Flew Over the Cuckoo's Nest (1975)       4
3             3         0  One Flew Over the Cuckoo's Nest (1975)       4
4             4         0  One Flew Over the Cuckoo's Nest (1975)       5
...         ...       ...                                     ...     ...
836478     6039      2603                    Here on Earth (2000)       5
836479     6039      2491              Place in the Sun, A (1951)       5
836480     6039      1567             Couch in New York, A (1996)       5
836481     6039      3274                       Love & Sex (2000)       5
836482     6039      1232                       Breathless (1983)       5

[836483 rows x 4 columns]

## 4. CSR Matrix

In [17]:
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie = ratings['movie_id'].nunique()

csr_data = csr_matrix((ratings['counts'], (ratings['user_id'], ratings['movie_id'])), shape=(num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5. 모델 생성 및 훈련

In [18]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [19]:
als_model = AlternatingLeastSquares(factors=2000, regularization=0.01, use_gpu=False, iterations=50, dtype=np.float32)

In [20]:
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [21]:
als_model.fit(csr_data_transpose)

  0%|          | 0/50 [00:00<?, ?it/s]

## 6. 나의 선호도 파악

In [22]:
how, breathless = user_to_idx[6039], movie_to_idx['Breathless (1983)']
how_vector, breathless_vector = als_model.user_factors[how], als_model.item_factors[breathless]

In [23]:
how_vector

array([-1.0513887 , -0.30856252,  0.37702554, ...,  0.5163862 ,
        0.09233084,  0.00332553], dtype=float32)

In [24]:
breathless_vector

array([-0.00828305,  0.00283687,  0.00706048, ..., -0.00178244,
       -0.00069456,  0.00900057], dtype=float32)

In [25]:
np.dot(how_vector, breathless_vector)

0.023155937

## 7. 내가 좋아하는 영화와 비슷한 영화 추천

In [28]:
my_movie = 'Breathless (1983)'
movie_id = movie_to_idx['Breathless (1983)']
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(1232, 0.9999998),
 (3241, 0.6221039),
 (3552, 0.62149143),
 (3525, 0.620972),
 (3242, 0.62020826),
 (3246, 0.6200816),
 (3587, 0.6192811),
 (3383, 0.6191497),
 (3551, 0.61824864),
 (3620, 0.6175055),
 (3520, 0.6174341),
 (3035, 0.61676586),
 (3471, 0.6167414),
 (3572, 0.61673516),
 (2960, 0.6162924)]

In [29]:
idx_to_title = {v:k for k,v in movie_to_idx.items()}
[idx_to_title[i[0]] for i in similar_movie]

['Breathless (1983)',
 'American Strays (1996)',
 'Relative Fear (1994)',
 'Penitentiary II (1982)',
 'Boy Called Hate, A (1995)',
 'Brothers in Trouble (1995)',
 'Shopping (1994)',
 'Little Men (1998)',
 'Foreign Student (1994)',
 'Modulations (1998)',
 'Rhyme & Reason (1997)',
 'For Ever Mozart (1996)',
 '3 Ninjas: High Noon On Mega Mountain (1998)',
 "I Don't Want to Talk About It (De eso no se habla) (1993)",
 'Nightmares (1983)']

In [30]:
def get_similar_movie(movie_title: str):
    movie_id = movie_to_idx[movie_title]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_title[i[0]] for i in similar_movie]
    return similar_movie

In [33]:
get_similar_movie('American Strays (1996)')

['American Strays (1996)',
 'Boy Called Hate, A (1995)',
 'Kicked in the Head (1997)',
 'Male and Female (1919)',
 "I Don't Want to Talk About It (De eso no se habla) (1993)",
 "Brother's Kiss, A (1997)",
 'Neon Bible, The (1995)',
 'War at Home, The (1996)',
 'Number Seventeen (1932)',
 'Relative Fear (1994)']

## 8. 좋아할만한 영화 추천

In [34]:
user = user_to_idx[6039]

movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(2889, 0.1636061),
 (1951, 0.1520332),
 (2306, 0.14124379),
 (2582, 0.11640931),
 (1920, 0.114588566),
 (1342, 0.11115833),
 (1455, 0.110237464),
 (627, 0.109456874),
 (3291, 0.10658172),
 (2430, 0.101728216),
 (2944, 0.09941157),
 (3144, 0.09717184),
 (658, 0.09472695),
 (2040, 0.091856495),
 (1954, 0.09061955),
 (1866, 0.090391494),
 (3163, 0.08797023),
 (2697, 0.08772649),
 (2832, 0.08756846),
 (905, 0.08718266)]

In [35]:
[idx_to_title[i[0]] for i in movie_recommended]

['Damsel in Distress, A (1937)',
 'Broadway Melody, The (1929)',
 'Great Ziegfeld, The (1936)',
 'Harmonists, The (1997)',
 'Gilda (1946)',
 'My Man Godfrey (1957)',
 'Holiday Inn (1942)',
 'March of the Wooden Soldiers (a.k.a. Laurel & Hardy in Toyland) (1934)',
 'Battling Butler (1926)',
 'Sanjuro (1962)',
 'Trouble in Paradise (1932)',
 'Vibes (1988)',
 'White Christmas (1954)',
 'Bhaji on the Beach (1993)',
 'Henry Fool (1997)',
 'Trip to Bountiful, The (1985)',
 'Stage Fright (1950)',
 'Little Princess, The (1939)',
 'Bridge at Remagen, The (1969)',
 'Murder, My Sweet (1944)']

## 9. 기여도 확인

In [41]:
movie_id = movie_to_idx['Henry Fool (1997)']

explain = als_model.explain(user, csr_data, itemid=movie_id)
[(idx_to_title[i[0]], i[1]) for i in explain[1]]

[("You Can't Take It With You (1938)", 0.05419891972320865),
 ('Wings of Desire (Der Himmel über Berlin) (1987)', 0.023824934099730785),
 ('Shall We Dance? (1937)', 0.01769335214770872),
 ('Muppet Treasure Island (1996)', 0.016953140373815675),
 ('Inspector General, The (1949)', 0.015346675365114935),
 ('Victor/Victoria (1982)', 0.01153695075429589),
 ('Arsenic and Old Lace (1944)', 0.009288890767776791),
 ('Around the World in 80 Days (1956)', 0.008886366585718949),
 ('Cinderella (1950)', 0.008839944093450618),
 ('To Catch a Thief (1955)', 0.008009798797283953)]

## 마치며
* 정확도가 그렇게 높지는 않음.
     + 여러 개의 영화를 넣고 돌려봤을 때, 첫 번째의 영화는 대략 0.04 ~ 0.06 정도의 유사도를 보야주고 있음.
* 내가 좋아하는 영화와 추천하는 영화가 비슷한지는 미지수.